/* UNIVERSAL  */

/* COLOR PALETTE  */

/* BODY  */
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color: white;
    line-height: 2;
}
/* HEADER MARGIN */

/* PARAGRAPH MARGIN  */

/* HEADER BASIC DESIGN  */
header {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: orange;
}
/* HEADER H1 BASIC DESIGN  */
header h1 {
    color: black;
    background-color: none;
    padding: 5px;
    font-size: xx-large;
}
/* NAV BASIC DESIGN  */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* NAV A BASIC DESIGN  */
nav a {
    text-decoration: none;
    padding: 10px;
    color: black;
    margin-right: 10px;
}

/* MAIN  */
main {
    margin-top: 20px;
    margin-bottom: 45px;
}

/* HERO BANNER DESIGN  */
.hero-image {
    background-image: url(Assets/02-hero-bg.jpg)); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 250px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

/* ABOUT SECTION  */
.about {
    background-color: aqua;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    /* justify-content: flex-start;
    align-items: flex-end; */
}

/* WORK SECTION  */
.work {
    background-color: purple;
    display: flex;
}

/* CONTACT SECTION  */
.contact {
    background-color: beige;
    display: flex;
}