/* UNIVERSAL  */
*{
    margin: 0;
}

/* BODY  */
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    /* background-color: white; */
    line-height: 2;
}
/* HEADER MARGIN */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* PARAGRAPH MARGIN  */
p {
    margin: 0;
  }
/* HEADER BASIC DESIGN  */
header {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: aquamarine;
}
/* HEADER H1 BASIC DESIGN  */
header h1 {
    color: black;
    background-color: none;
    padding: 5px;
    font-size: xx-large;
}
/* NAV BASIC DESIGN  */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* NAV TEXT BASIC DESIGN  */
nav a {
    text-decoration: none;
    padding: 10px;
    color: black;
    margin-right: 10px;
}

nav a:hover {
    color: violet;
}

/* MAIN BASIC DESIGN*/
main {
    margin-top: 20px;
    margin-bottom: 45px;
}

/* HERO BANNER DESIGN  */
.hero-banner {
    background-color: slategray;
    background-image: url(../Assets/02-hero-bg.jpg);
    background-size: cover;
    background-position: center;
    /* background-blend-mode: soft-light; */
    min-height: 15px;
    color: slategray;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-banner h1 {
    background-color: aquamarine;
    color: black;
    margin: 0;
    padding: 15px;
}
/* ABOUT SECTION  */
.about {
    /* background-color: white; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
}

/* WORK SECTION  */
.work {
    min-height: 15px;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-item-1 {
    background-image: url(../Assets/02-portfolio-1.jpg);
    background-size: cover;
    /* min-height: 100px;
    min-width: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.work a {
    color:black;
    padding: 0;
    text-decoration: none;
}

.work a:hover {
    color: violet;
}

/* CONTACT SECTION  */
.contact {
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contact a {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: large;
    font-style: normal;
}

.contact a:hover {
    color: violet;
}

footer {
    margin: 10px;
    padding: 10px;
    align-items: center;
    text-align: center;
}